@charset "utf-8";
/*======================
#mixins
======================*/
//マップ型変数breakpointsを定義
$breakpoints: (
  //キー値//767px以下（スマホ）用の表示
  "sm": "screen and (max-width: 767px)",
  //1024px以下768以上（タブレット）用の表示
  "tab": "screen and (min-width: 768px) and (max-width: 1024px)",
  //1025px以上（PC）用の表示
  "md": "screen and (min-width: 1025px)"
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}
/*======================
  #font
======================*/
$font-family-default: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro",
  "メイリオ", "MS Pゴシック", "MS PGothic", sans-serif; // 標準フォント
$font-family-english: sans-serif;
/*======================
#common -全体に共通するスタイル
======================*/

@include mq(md) {
  .is-pc {
    display: none;
  }
}
@include mq(tab) {
  .is-tab {
    display: none;
  }
}
@include mq(sm) {
  .is-sm {
    display: none;
  }
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: $font-family-default;
  line-height: 1;
  background-color: #36b484;
}

img {
  width: 100%;
}

.btnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#gameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  height: 100vh;
  height: -webkit-fill-available;

  @include mq(tab) {
    padding: 0 24px;
  }
  @include mq(sm) {
    padding: 0 16px;
  }
}

#initialForm {
  color: white;
  .mainTitle {
    font-weight: bold;
    text-align: center;
    font-size: 27px;
    margin-bottom: 10px;
  }

  form {
    td {
      padding: 10px;
    }
    th {
      padding: 15px;
      text-align: center;
      font-weight: normal;
      width: 5em;
      vertical-align: middle;
    }
    input[type="text"],
    form textarea {
      margin: 0 5px;
      padding: 5px;
      box-sizing: border-box;
      text-align: left;
    }
    @include mq(sm) {
      th {
        padding: 5px;
        width: auto;
        text-align: left;
      }
      td {
        padding: 5px;
      }
    }
  }
}

#mainPage {
  color: #fff;
  margin-bottom: 300px;
  @include mq(tab) {
    margin-bottom: 210px;
  }

  #houseCardWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;

    #houseCards {
      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 30px;
      @include mq(sm) {
        padding-bottom: 20px;
      }
    }
  }

  #playersWrap {
    display: flex;
    justify-content: space-around;
    position: relative;
    @include mq(sm) {
      justify-content: space-between;
    }
    @include mq(tab) {
      justify-content: space-between;
    }
    #player {
      flex-direction: column;
      width: 33%;
      #playerCards {
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
    }
    .player2 {
      top: 150%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      @include mq(tab) {
        top: 95%;
      }
    }
  }
}

#houseInfo,
#playerInfo {
  .playerName {
    font-size: 45px;
    text-align: center;
    @include mq(sm) {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .playerStatus {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq(sm) {
      height: 30px;
    }
    p {
      padding: 0 10px;
      @include mq(sm) {
        padding: 0 5px;
        font-size: 14px;
      }
    }
  }
}

#playerScore {
  height: 30px;
  @include mq(sm) {
    height: 20px;
  }
  div {
    text-align: center;
    display: table;
    margin: auto;
    background-color: rgba(108, 117, 125, 0.7);
    .scoreText {
      padding: 4px 20px;
      @include mq(sm) {
        font-size: 14px;
      }
    }
  }
}

#card {
  background-color: #fff;
  margin: 0 10px;
  text-align: center;
  padding: 5px;
  @include mq(sm) {
    margin: 0 5px;
  }
  img {
    width: 45px;
    height: 45px;
    @include mq(sm) {
      width: 30px;
      height: 30px;
    }
  }
  .cardText {
    padding-top: 5px;
  }
}

.btn {
  width: 150px;
}

.input-group-btn {
  .btn {
    width: 45px;
  }
}

.action {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  @include mq(sm) {
    flex-wrap: wrap;
  }
  button {
    margin: 0 10px;
    @include mq(sm) {
      margin: 10px 10px;
    }
  }
}

.bets {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  .betChoice {
    display: flex;
    justify-content: center;
    .bet {
      padding: 0 10px;
      .input-group {
        @include mq(sm) {
          display: block;
        }
        #minusBet {
          @include mq(sm) {
            height: 30px;
            width: 30px;
            padding: 0;
          }
        }
        input[type="text"] {
          @include mq(sm) {
            height: 30px;
            width: 30px;
            padding: 0;
          }
        }
        #plusBet {
          @include mq(sm) {
            height: 30px;
            width: 30px;
            padding: 0;
          }
        }
      }
      p {
        @include mq(sm) {
          font-size: 14px;
        }
      }
    }
  }
  .betSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

.position {
  top: 155%;
  left: 50%;
  transform: translate(-50%, 0%);
  @include mq(sm) {
    top: 150%;
  }
  @include mq(tab) {
    top: 125%;
  }
}

#result {
  top: 50%;
  padding: 20px;
  position: absolute;
  color: black;
  background-color: white;
  border: 1px solid black;
  @include mq(sm) {
    width: 100%;
  }
  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }
  ul {
    list-style: disc;
    padding: 0 5px 0 5px;
    li {
      margin: 10px 0;
    }
  }
}

.round {
  left: 90%;
  transform: translate(-50%, 0%);
  font-size: 28px;
  display: flex;
  flex-direction: column;
  position: absolute;
  @include mq(sm) {
    top: 0%;
    font-size: 18px;
  }
  @include mq(tab) {
    top: 0%;
    left: 90%;
    transform: translate(-50%, -75%);
  }
  .roundTextWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.finalResult {
  color: black;
  position: absolute;
  background-color: white;
  padding: 5px;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(sm) {
    top: 85%;
    width: 100%;
    overflow-y: scroll;
  }
  h3 {
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
  }
  table {
    th,
    td {
      text-align: center;
    }
  }
  .btnWrap {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
